body {
  font-family: "Roboto", sans-serif;
}

/* Roboto Light (300) en los textos de las tarjetas */
.card-body {
  font-weight: 300;
}

/* Roboto Medium (500) en títulos, textos destacados y el formulario */
h4,
.text-success,
.fw-bold,
form input {
  font-weight: 500;
}

footer p {
  font-weight: 300; /* Roboto Light */
}
